.input {
  border-color: $grey-lighter;
  border-radius: 4px;
}

.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active,
.select select:focus,
.select select.is-focused,
.select select:active,
.select select.is-active {
  border-color: $primary;
  box-shadow: 0 0 transparent;
}

.select:not(.is-multiple):not(.is-loading)::after{
  border-color: $primary;
}

.field:not(:last-child) {
  margin-bottom: 24px;
}

.radio-circle {
  text-align: center;
  input {
    display: none;
  }
  label {
    display: block;
    width: 120px;
    height: 120px;
    margin: 2rem auto;
    border-radius: 120px;
    line-height: 120px;
    box-shadow: $button-shadow;
    font-weight: bold;
    color: $grey;
    transition: .3s all;
    cursor: pointer;
  }
  input:checked + label {
    background-color: $primary-light;
    box-shadow: 0 0 0 2px $primary;
  }
}

.thc-input {
  position: relative;
  label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #c4c4cc;
    font-size: 14px;
    padding: 14px;
    font-weight: bold;
    transition: all .2s;
  }
  input, textarea {
    min-height: 48px;
    padding-top: 16px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
  }
  &.is-filed label,
  &.is-active label {
    font-size: 10px;
    padding: 4px 14px;
  }
  textarea:focus + label {
    font-size: 10px;
    padding: 4px 14px;
  }
}

.thc-radio {
  position: relative;
  input {
    display: none;
  }
  label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }
  label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid $white;
    box-shadow: 0 0 0 2px $black;
    border-radius: 20px;
  }
  input[type="radio"]:checked + label:after {
    background-color: $black;
  }
}

.search-input-field {
  width: 100%;
  max-width: 410px;
  .control.has-icons-left .input {
    padding-left: 2.5rem;
  }
  .input {
    font-size: 14px;
    height: 42px;
  }
  @include touch {
    max-width: 100%;
  }
}

.ghost-input {
  border: 0;
  box-shadow: none;
}

.thc-select {
  position: relative;
  label {
    position: absolute;
    top: 0;
    z-index: 1;
    color: #c4c4cc;
    font-size: 10px;
    padding: 4px 14px;
    font-weight: bold;
    transition: all .2s;
  }
  select {
    height: 48px;
    padding-top: 16px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
  }
  &.select::after {
    position: absolute;
    top: 65% !important;
  }
}