body, p {
  font-family: $open-sans-font;
}

h1, h2, h3, h4, h5 {
  font-family: $ubuntu-font;
}

p {
  margin-bottom: 24px;
  line-height: 32px;
  font-size: 18px;
}

a {
  color: $primary;
}

.description {
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  margin: 10px 0;
  color: $grey;
}