.profile-form {
  padding: 1rem;
  margin-top: 5rem;
}

.profile-form .profile-avatar {
  margin: -100px auto 20px;
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.8;
    &:after {
      @include loader;
      border-color: transparent transparent $primary $primary !important;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
    }
  }
}