// Fonts
$open-sans-font: 'Open Sans', sans-serif;
$ubuntu-font: 'Ubuntu', sans-serif;

// Colors
$black: #02010a;
$grey: rgba(0, 0, 0, 0.54);
$grey-lighter: #c4c4cc;
$purple: #b986e6;
$purple-darker: #6a449b;
$purple-opacity: rgba(106, 68, 155, 0.75);
$thc: #4f2c78;
$violet: #3b0086;
$orange: #ffbc82;
$orange-darker: #f0a86b;
$primary: #30c1d5;
$primary-light: #c0fdfb;
$white-ter: #f7f7f9;


// Elements colors
$body-background: $white-ter;

// Elements sizes
$small-footer-height: 48px;
$page-header-height: 48px;

// Shadows
$default-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
$button-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);

// Navbar
$navbar-height: 4.5rem;
$sub-navbar-height: 3.5rem;